*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary--color2:#E3F1B6;
    --primary--color3:#FFFFFF;
    --primary--color4:rgb(250, 173, 31);
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--primary--color3);
    font-size: 14px;
    height:100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container__left{
    width:20%;
    height:100vh;
    border-right: 1px solid gray;
    position: fixed;
}
.logo{
    height:40%;
}
.contain{
    height:60%;
}
.nav li{
    margin:25px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.container__right--main{
    width:80%;
    display: none;
}
.container__top{
    width: 100%;
    background-color: var(--primary--color4);
    height:50px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    padding-top:10px;
    margin-top:10px;
}
.container__bottom{
    display: flex;
}
.text__user,.text__product{
    width:30%;
    text-align: center;
    margin: 0 auto;
}
.text__user h3,.text__product h3{
    font-size: 20px;
    padding:5px;
}

.text__user--top img,.text__product--top img{
    width:100%;
    height:300px;
}





.container__right--card{
    width:50%;
    border: 1px solid red;
    margin:auto; 
}
.container__right--card button{
    width: 150px;
    cursor: pointer;
    height:30px;
    margin-left:350px;
    margin-top:3px;
    font-size:15px;
    border-radius: 5px;
}
.container__right--card button:hover,
.container__right--card button:active{
    background-color: #E3F1B6;
}
#choose{
    width: 130px;
    margin:10px;
}
.filter{
    height:40px;
    border: 1px solid red;
    display:flex;
}
.card__item{
    display: flex;
    border: 1px solid gray;
    margin: 5px;
    box-shadow: 0.5px 0.5px;
}
.card__item--left img{
    width:110px;
    height:100px;
}
.card__item--middle{
    width:60%;
}
.card__name--middle{
    margin:10px;
    font-size: 18px;
}
.card__introduce--middle{
    margin:10px;
    font-size: 14px;
}
.card__item--right{
    width:25%;
    text-align: right;
    border: 1px solid red;
}
.card__price--right{
    font-size: 15px;
    margin:10px 5px;
}
.card__edit__delete--right i{
    font-size: 20px;
    margin:10px 5px;
    cursor: pointer;
}
