*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --primary--color2:#E3F1B6;
    --primary--color3:#FFFFFF;
    --primary--color4:rgb(250, 173, 31);
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--primary--color3);
    font-size: 14px;
    height:100vh;
}
.menu--one{
    border-radius: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.infor__product{
    font-size: 20px;
    text-align: center;
    padding:10px;
    background-color:var(--primary--color4);
}
.infor__product h3{
    display: inline-block;
    position: relative;
}
.infor__product h3::after{
    content: "";
    height:3px;
    width: 100%;
    background-color: var(--primary--color3);
    position: absolute;
    left:0;
    bottom:0;
    transform: scale(0);
    transition:all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.infor__product h3:hover::after{
    transform: scale(1);

} 

.list__product{
    min-width: 100vw;
}
.card__items{
    margin: auto;
    width: 80%;
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary--color3);
    padding:10px;
}
.card__item{
    width:24%;
    height:300px;
    position: relative;
    background-color: var(--primary--color3);
    border: 1px solid black;
    margin: 0 0 10px 10px;
    box-shadow: 0 10px 10px #757676;
    letter-spacing: 1px;
}
@media (max-width: 1300px){
    .card__items{
        width: 90%;
    }
    .card__item{
        width: 31.5%;
    }
}
@media(max-width:800px){
    .card__item{
        width:48%;
    }
}
@media(max-width:630px){
    .card__item{
        width:98%;
    }
}
/* .card__contain{
   margin: auto;
   
} */
.card__container{
    display: flex;
}
#choose{
    width:100%;
    text-align:end;
    margin-top:10px;
    margin-bottom:5px;
}
#choose h3{
    display: inline-block;
}
select{
    height:30px;
    margin: 0px 30px 0px 10px;
    width:20%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.control1{
    width:15%;
    background-color: rgb(189, 187, 187);
    padding-top:20px;
    height:70vh;
}
.control1 span{
    cursor: pointer;
    font-size: 13px;
}
.control1 h3{
    margin-left: 10px;
}
.control1 i{
    margin-right: 10px;
}
.card__type{
    cursor: pointer;
    margin:10px 10px;
    width:80%;
    border-bottom: 0.5px solid rgb(179, 172, 172);
    background-color: var(--primary--color3);
    height:30px;
    border-radius: 5px;
    text-align: center;
    padding:7px 0px;
    transition: all 0.5s;
}
.card__type:hover,
.card__type:active{
    background-color: rgb(93, 91, 91);
    color: var(--primary--color3);
}
.card__cart{
    left:unset;
    right:10px;
}
.card__img img{
    width: 100%;
    height:150px;
    transition: all 0.5s;
}
#img__after{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
}
#img__after:hover{
    opacity: 100;
}
.card__name, .card__introduce, .card__price{
    text-align: center;
    margin-top:2px;
    font-size: 12.2px;
    font-weight: bold;
}
.card__introduce{
    height:38px;
}
.card__name, .card__introduce{
    color: black;
}
.card__name p{
    position: relative;
    display: inline;
}
.card__name p::after{
    content: "";
    position: absolute;
    background-color:var(--primary--color4);
    width:100%;
    height:2px;
    left:0;
    bottom:0;
    transform: scale(0);
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__name p:hover::after{
    transform: scale(1);
}
.card__price{
    color: var(--primary--color4);
}
.card__view, .card__addcart{
    padding:10px;
    border-radius: 5px;
    background-color: var(--primary--color4);
    color: var(--primary--color3);
    font-size: 15px;
    margin-left:25px;
    cursor: pointer;
}
.card__addcart{
    margin-left:10px ;
}
.card__action{
    transition: all 0.5s;
    margin-top:60px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.2s;
}
.card__item:hover .card__action{
    opacity: 100;
    visibility: visible;
    margin-top:5px;
}
.cart{
    padding:15px 5px;
    width:39%;
    height:80vh;
    margin:0 auto;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #353432;
    overflow-y: scroll;
    color: #EDF5E1;
    display: none;
    opacity: 0;
}
.activeCart{
    display: block;
    opacity: 100;
}
.cart h2{
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}
thead th{
    font-size: 18px;
}
.cart table{
    width:100%;
}
tbody tr td img{
    width:100px;
    height:100px;
}
tbody tr{
    text-align: center;
}
.list__Page1{
    display: flex;
    padding-left: 550px;
    margin-top:20px;
}
.activelistPage{
    display: none;
}
.active{
    background-color: var(--primary--color4);
}
.back,.go{
    padding-left:25px;
    padding-right:25px;
    border-radius: 100px;
    margin:0px 8px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
} 
.back:hover,.go:hover,
.back:active,.go:active{
    background-color: var(--primary--color4);
}
#number__pages--one{
    display: flex;
    list-style: none;
    cursor: pointer;
}
#number__page--one{
    padding:10px;
}
.gioHang{
    text-align: right;
    width:100%;
}
.gioHang a{
    color: #353432;
}
.gioHang a i{
    padding:20px;
}
.close__cart{
    background-color: var(--primary--color4);
    position: absolute;
    bottom:-10;
    left:2;
    width: 98%;
    height:45px;
    font-size: 30px;
    padding-top:7px;
    display: flex;
}
.close__cart span,.close__cart a{
    width: 50%;
    text-align: center;
    font-size: 17px;
    border-right: 1px solid black;
    color: var(--primary--color3);
    cursor: pointer;
    margin-top: -7px;
    padding-top: 12px;
}
.close__cart a{
    text-decoration: none;
}
@media (max-width:739px){
    .view__item{
        margin:25px 50px;
        width: 85%;
    }
    .view__img--bottom img{
        width:32.3%;
    }
    .view__text{
        display: none;
    }
    .view__action{
        flex-wrap: wrap;
    }
    .view__addcart{
        margin-top: 15px;
    }
}
@media (min-width:320px) and (max-width:600px){
    .view__item{
        margin:80px 0px;
        width: 100%;
    }
    .view__img--bottom img{
        display: none;
    }
    .view__text,.view__star{
        display: none;
    }
    .view__input{
        display: flex;
        flex-wrap: nowrap;
    }
    .view__action{
        flex-wrap: wrap;
    }
    .view__addcart{
        margin-top: 15px;
    }
}








































.container__view{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.activeView{
    display: block;
}
.fa-window-close{
    position: absolute;
    top:4px;
    right: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}
.view__item{
    background: var(--primary--color3);
    width: 50rem;
    padding: 2rem;
    display: flex;
    margin: auto;
    
}
.view__img--top img{
    width:100%;
    height:55vh;
}
.view__img--bottom img{
    width: 32.75%;
    height:20vh;
}
.view__name,.underline,.view__introduce,.view__price,.view__star,.view__text,.view__action{
    margin:18px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.underline{
    width:30px;
    border: none;
    background-color: var(--primary--color4);
}
.view__text ul {
    margin-left: 20px;
}
.view__introduce,.view__text,.view__price{
    font-size: 15px;
}
.view__name{
    font-size: 12px;
}
.view__item--left{
    width:54%;
}
.view__item--right{
    width:46%;
}
.view__action{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.view__input{
    margin-top: 8px;
}
.view__action button{
    width: 20px;
    cursor: pointer;
}
#input__number{
    width:50px;
    text-align: center;
    font-size: 12px;
    height:20px;
}
.view__addcart{
    background: var(--primary--color4);
    cursor: pointer;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
}
.imgs__hidden,.details__hidden{
    display: none;
}
@media (min-width:740px) and (max-width:1024px) {
    .view__item{
        width:80%;
        margin:35px 80px;
    }
    .view__img--bottom img{
        width:32.5%;
    }
    .view__action{
        flex-wrap: wrap;
    }
    .view__addcart{
        margin-top: 15px;
    }
}
@media (max-width:739px){
    .view__item{
        margin:25px 50px;
        width: 85%;
    }
    .view__img--bottom img{
        width:32.3%;
    }
    .view__text{
        display: none;
    }
    .view__action{
        flex-wrap: wrap;
    }
    .view__addcart{
        margin-top: 15px;
    }
}
@media (min-width:320px) and (max-width:600px){
    .view__item{
        margin:80px 0px;
        width: 100%;
    }
    .view__img--bottom img{
        display: none;
    }
    .view__text,.view__star{
        display: none;
    }
    .view__input{
        display: flex;
        flex-wrap: nowrap;
    }
    .view__action{
        flex-wrap: wrap;
    }
    .view__addcart{
        margin-top: 15px;
    }
}   
















































