body{
    height: 2000px;
}

.head__vd{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.head__vd-vd{
    width: 100%;
    height: 100%;
    position: absolute;

}

.head__vd-box{
    margin: 5% 0 ;
    position: relative;
    border: 5px;
    padding: 5px;
    order: 1;
    width: 100%;
    height: 30%;

}

.big_brand {
    position: absolute;
    font-size: 15vw;
    text-align: center;
    color: black;   
    height: 20rem;
    width: 100%;
    margin: 10rem 0 ;
}

.head__nav{
    top: 0;
    height: 6rem; 
    position: fixed ;
    width: 100%;
}

.head__nav-new{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    background-color: white;
}


.head__nav-li{
    margin: 1.6rem;
    padding: 0;
}

.head__nav-item{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.se {
    z-index: 2;
    display: flex;
    justify-content: right;
}

.head__nav-item-link{
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size: 1.6rem;
}

.brand {
    position: absolute;
    font-size: 15vw;
    text-align: center;
    color: white;   
    width: 100%;
    margin: 10rem 0 ;
}

.small-brand { 
    animation: fadeIn ease-in 0.5s;
    font-size: 3rem;
    font-weight: 300;
    z-index: 1;
}

.head__nav-item-link:hover {
    color: rgba(76, 72, 72, 0.5);
    font-size: calc(100% + 5px);
}  

.head__nav-item-link-login{
    display: contents;
}

@keyframes fadeIn {
    from{
        opacity: 0.5;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(200, 200, 200,0.5);
}

.modal__body{
    border: 1px solid black;
    background-color: white;
    /* background-color: red; */
    height: 50%;
    min-height: 200px;
    width: 30%;
    min-width: 300px;
    margin: auto;
    position: relative;
    border-radius: 20px;
}

.login {
    text-align: center;

}

.login__input{
    text-align: center;
    text-justify: 10px;
}
